/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.awesome-block-edit {
    color: #fff !important;
    text-decoration: none;
    padding: 10px !important;
    position: absolute;
    display: block !important;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.5);
}

.awesome-block-edit:after
{
    opacity: 0;
    content: 'Edit Block';
    text-indent: 5px;
    display: none;
}

.awesome-block-edit:hover:after
{
    opacity: 1;
    display: inline-block;
}